.AddIMDBMovies { /*margin-top: 300px;*/display: inline-flex;}
.AddMovieContainer{
    display: flex;
    margin-right: 60px;
}
.ContentTypeContainer{
    margin: -7px 5px 0 5px;
}
.ContentTypeLabel{
font-size: 1rem !important;
}
