.Administration {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.TextUnder {
    margin-top: 1rem;
    color: #666666;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}