.login {
    max-width: 900px;
    font-size: 25px;
    top: 50px;
    left: 25%;
    position: absolute;
    color: rgb(255, 255, 255);
 
}
.register {
    max-width: 900px;
    top: 150px;
    left: 25%;
    position: absolute;
    color: black;
    
}
.logout {
    max-width: 900px;
    top: 450px;
    left: 35%;
    position: absolute;
    color: black;
    
}
.frame {
    width: 150px;
    height: 200px;
    border: 2px solid #ccc;
    background-color: black;
    margin: auto;
    padding: 30px 10px;

  }
  .frame2 {
    width: 290px;
    height: 450px;
    right: 25%;
    position: relative;
    border: 2px solid #ccc;
    background-color: black;
    margin: auto;
    padding: 30px 10px;

  }
  .username {
    top: 8px;
    left: 20%;
     font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
    position: absolute;
    
    
}
.avatar {
    max-width: 900px;
    left: 7px;
    position: absolute;
    top: 10px;
}
.friendsList {
    width: 310px;
    height: 30px;
    border: 2px solid #ccc;
    background-color: #707070;
    left: -2px;
    top: 90px;
    position: absolute;
  }

  .friends {
    left: 2px;
    top: -20px;
    position: absolute;
    font-size: 15px;
    height: 0px;
  }
  .addFriend {
    left: 270px;
    top: -4px;
    position: absolute;
    font-size: 15px;
  }
  .friendsList2 {
    left: 0px;
    top: 124px;
    width: 310px;
    position: absolute;
  }
  