.UploadAvatar {
    top: 6px;
    left: 65px;
    width: 60px;
    height: 19px;
    position: absolute;
    font-size: 2px;
    color: white;
}
.UploadAvatar2 {
    top: 28.5px;
    left: -5px;
    width: 70px;
    height: 20px;
    position: absolute;
    font-size: 5px;
}