@import "/src/App.scss";

.content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2.8em;
    margin: -25em 17em;
}

.banner {
    height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $main-bg, rgba(black, 0));
    }
}

.movieImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding-top: 165%;
    @include shadow();
    grid-column: 1/3;
}

.movieTitle {
    font-size: 64px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0.25em;
}

.subtitleInfo {
    font-size: 25px;
    color: #9e9e9e;
    font-weight: 400;
    margin-top: 0.75rem;
    margin-left: 0.5em;
}

.movieInfo {
    grid-column: 3/-1;
}

.movieDescription {
    font-weight: 400;
    font-size: 19px;
    margin-top: 1rem;
    line-height: 1.5;
}

.genres {
    padding: 0 2rem;
    grid-column: 4/6;
    margin-left: -5.2em;

    &__item {
        padding: 0.5rem 1.5rem;
        border: 2px solid white;
        border-radius: 30px;
        font-size: 0.8rem;
        margin-left: 0.4rem;
        font-weight: 600;
        background-color: $main-bg;
    }

    &__sectionTitle {
        position: relative;
        font-weight: 600;
        font-size: 19px;
        left: 0.8em;
    }

    &__sectionSeparator {
        width: 20rem;
        margin-left: 0rem;
        margin-bottom: 2rem;
    }
}
