@import "/src/App.scss";

.content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2.8em;
    margin: -41vh 17vw;
}

.banner {
    height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $main-bg, rgba(black, 0));
    }
}

.movieImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding-top: 165%;
    @include shadow();
    grid-column: 1/3;
    min-width: 200px;
}

.movieTitle {
    font-size: 64px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0.25em;
}

.subtitleInfo {
    font-size: 25px;
    color: #9e9e9e;
    font-weight: 400;
    margin-top: 0.75rem;
    margin-left: 0.5em;
}

.movieInfo {
    grid-column: 3/-1;
    min-width: 630px;
}

.movieDescription {
    font-weight: 400;
    font-size: 19px;
    margin-top: 1rem;
    line-height: 1.5;
}

.genres {
    padding: 0 5.5rem;
    grid-column: 3/6;

    &__item {
        padding: 0.5rem 1.5rem;
        border: 2px solid white;
        border-radius: 30px;
        font-size: 0.8rem;
        margin-left: 0.7rem;
        font-weight: 600;
        background-color: $main-bg;
        white-space: nowrap;
        color: white;
        text-decoration: none;
        transition: 250ms;
    }

    &__item:hover {
        background-color: gray;
    }
}

.sectionTitle {
    position: relative;
    font-weight: 600;
    font-size: 19px;
    left: 0.8em;
}

.sectionSeparator {
    margin-bottom: 2em;
}

.ratings {
    grid-column: 1/3;
    padding: 0 2rem;

    &__ratingStar {
        color: #f6c601;
        font-size: 40px !important;
        margin-left: 0.4em;
    }

    &__ratingSection {
        margin-left: 0.7rem;
    }

    &__ratingNumber {
        font-weight: bold;
        font-size: 22px;
        margin-left: 0.2em;
    }

    &__ratingOutOf {
        color: #6d6a6a;
        font-size: 17px;
        font-weight: 700;
    }

    &__ratingSource {
        margin-top: 1.5em;
        align-items: center;
        display: flex;
    }
}

.crew {
    grid-column: 6/8;
    padding: 0 2rem;

    &__crewMembers {
        margin-top: -1em;
        margin-left: 1.5em;
        line-height: 1.5;
        min-width: max-content;
    }

    &__crewPosition {
        color: #b7b7b7;
        font-weight: 600;
    }

    &__crewName {
        color: #959595;
    }

    &__actorNames {
        margin: -1.3em 3.5em;
        position: absolute;
        min-width: max-content;
    }
}

@media only screen and (max-width: 1120px) {
    .movieImage {
        display: none;
    }

    .movieInfo {
        grid-column: 1/-1;
        min-width: auto;
    }

    .genres {
        grid-column: 1/-1;
        padding: 0 2rem;
        
    }

    .ratings {
        grid-column: 1/-1;
    }

    .crew {
        grid-column: 1/-1;
    }
}
