.pageNotFound {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    color: #666666;
}

.border {
    border-bottom: solid 1.5px #c9c9c98c;
    width: 45rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.textUnder {
    color: #666666;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.textUnderBorder {
    color: #666666;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    max-width: 42.5rem;
}

.mainPageLink {
    color: #b7b7b7;
}

.mainPageLink {
    color: #b7b7b7;
    transition: 250ms;
}

.mainPageLink:hover {
    color: gray;
}