
.title{
    margin-left: 20px;
}

.rowThumbnails {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px 20px 20px;
}

.rowThumbnails::-webkit-scrollbar{
    display: none;
}

.rowThumbnail {
    object-fit: cover;
    max-width: 150px;
    max-height: 225px;
    margin-right: 10px;
    transition: transform 450ms;
    cursor: pointer;
    border-radius: 25px;
}

.rowThumbnail:hover{
    transform: scale(1.08);
}