
.title{
    margin-left: 20px;
}

.rowThumbnails2{
    overflow-y: hidden;
    padding: 10px 20px 20px;
}

.rowThumbnails {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}



.rowThumbnails::-webkit-scrollbar{
    display: none;
}

.rowThumbnail {
    object-fit: cover;
    max-width: 150px;
    max-height: 225px;
    min-height: 225px;
    min-width: 150px;
    margin-right: 10px;
    transition: transform 450ms;
    cursor: pointer;
    border-radius: 25px;
}

.rowThumbnail:hover{
    transform: scale(1.08);
}

.ButtonWrapper{
  display: flex;
  position: absolute;
  margin-top: -155px;
  margin-left: -65px;
  width: 99.5%;
  justify-content: space-between;
  pointer-events: none;
}

.Button{
  color: white;
  cursor: pointer;
  pointer-events: all;

  &:hover {
    opacity: 0.8;
  }
}

.ContentWrapper{
  display: flex;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px 20px;
}

.Arrow{
    font-size: 50px !important;
    margin: 0 9px;
}

.genreTitle{
  color: white;
  text-decoration: none;
}