.id {
    max-width: 290px;
    top: 200px;
    left: 38%;
    position: absolute;
    color: black;
    
}
.message {
    
    max-width: 290px;
    top: 220px;
    left: 38%;
    position: absolute;
    color: black;
 
}
.submit {
    
    max-width: 290px;
    height: 60px;
    top: 250px;
    font-size: 55px;
    left: 38%;
    position: absolute;
    color: black;
 
}