.FriendList {
    font-size: 25px;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
    max-width: 310px;
}

.username {
    left: -15px;
    top: 5px;
    font-size: 30px;
    position:relative;
   

    
}

.avatar {
    left: -10px;
    top: -0px;
    position: relative;
}