@import "/src/App.scss";


.sign_in {
    @include flex(flex-start, flex-start);
    max-width: 900px;
    font-size: 25px;
    top: 70px;
    left: 34%;
    position: absolute;
    color: rgb(255, 255, 255);
 
}
.email {
    @include flex(flex-start, flex-start);
    max-width: 290px;
    top: 200px;
    left: 38%;
    position: absolute;
    color: black;
    
}

.username {
    @include flex(flex-start, flex-start);
    max-width: 290px;
    top: 250px;
    left: 38%;
    position: absolute;
    color: black;
    
}
.password {
    
    max-width: 290px;
    top: 300px;
    left: 38%;
    position: absolute;
    color: black;
 
}
.confirmPassword {
    
    max-width: 290px;
    top: 350px;
    left: 38%;
    position: absolute;
    color: black;
 
}

.login {
    
    max-width: 290px;
    height: 60px;
    top: 400px;
    font-size: 55px;
    left: 38%;
    position: absolute;
    color: black;
 
}
.createaccounttext{
    top: 700px;
    left: 42%;
    position: absolute;
}
.createaccount{
    top: 750px;
    left: 43%;
    position: absolute;
}


